<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bepity</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/ad2feffdfb.js" crossorigin="anonymous"></script>

</head>
<body id="homepage">

    <!-- <img src="https://cdnb.artstation.com/p/assets/images/images/010/905/753/large/chengwei-pan-1.jpg?1526875963" alt="" id="home_backround"> -->
    
    <aside id="flexwrap">
        <div id="textwrap">
            <span id="text1">Home</span>
            <span id="text2">Profile</span>
            <span id="text3">Faq</span>
            <span id="text4">Contact</span>
            <span id="text5">Settings</span>
        </div>
        <div id="iconwrap">
            <menu id="menu1"><i class="fas fa-home"></i></menu>
            <menu id="menu2"><i class="fas fa-user-circle"></i></menu>
            <menu id="menu3"><i class="fas fa-question-circle"></i></menu>
            <menu id="menu4"><i class="fas fa-envelope"></i></menu>
            <menu id="menu5"><i class="fas fa-cog"></i></menu>
        </div>
    </aside>
    

    <article id="home-page">
        <h1 id="title">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            inkscape:export-ydpi="96"
            inkscape:export-xdpi="96"
            inkscape:export-filename="/home/dev/gaming-tasks/client/logos/drawing.png"
            width="48"
            height="48"
            viewBox="0 0 12.7 12.7"
            version="1.1"
            id="svg8"
            inkscape:version="1.0 (4035a4fb49, 2020-05-01)"
            sodipodi:docname="drawing.svg">
            <defs
                id="defs2" />
            <sodipodi:namedview
                id="base"
                pagecolor="#656565"
                bordercolor="#d5d5d5"
                borderopacity="1"
                inkscape:pageopacity="0"
                inkscape:pageshadow="2"
                inkscape:zoom="8.5398114"
                inkscape:cx="-4.608138"
                inkscape:cy="21.458281"
                inkscape:document-units="px"
                inkscape:current-layer="layer1"
                inkscape:document-rotation="0"
                showgrid="false"
                inkscape:pagecheckerboard="true"
                showborder="true"
                inkscape:showpageshadow="false"
                borderlayer="false"
                units="px"
                inkscape:window-width="944"
                inkscape:window-height="1038"
                inkscape:window-x="965"
                inkscape:window-y="31"
                inkscape:window-maximized="1" />
            <metadata
                id="metadata5">
                <rdf:RDF>   
                <cc:Work
                    rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    <dc:title />
                </cc:Work>
                </rdf:RDF>
            </metadata>
            <g
                inkscape:groupmode="layer"
                id="layer2"
                inkscape:label="Layer 2"
                style="display:none;opacity:0.505489"
                sodipodi:insensitive="true">
                <circle
                style="fill:#000000;fill-opacity:0.999932;stroke-width:0;stroke-linejoin:round;paint-order:stroke fill markers"
                id="path93"
                cx="6.3210273"
                cy="-5.873333"
                r="13.80238" />
                <circle
                r="2.1004157"
                cy="10.409579"
                cx="8.6212502"
                id="path93-5"
                style="display:inline;opacity:0.33272;fill:#000000;fill-opacity:0.999932;stroke-width:0;stroke-linejoin:round;paint-order:stroke fill markers" />
                <circle
                style="display:inline;opacity:0.33272;fill:#000000;fill-opacity:0.999932;stroke-width:0;stroke-linejoin:round;paint-order:stroke fill markers"
                id="path93-5-3"
                cx="4.1104465"
                cy="10.46208"
                r="2.1004157" />
                <circle
                r="5.2057018"
                cy="10.692369"
                cx="11.681497"
                id="path93-5-3-5"
                style="display:inline;opacity:0.33272;fill:#000000;fill-opacity:0.999932;stroke-width:0;stroke-linejoin:round;paint-order:stroke fill markers" />
                <circle
                style="display:inline;opacity:0.33272;fill:#000000;fill-opacity:0.999932;stroke-width:0;stroke-linejoin:round;paint-order:stroke fill markers"
                id="path93-5-3-5-6"
                cx="0.99506623"
                cy="10.767478"
                r="5.2057023" />
                <circle
                style="opacity:0.5;fill:#000000;fill-opacity:0.999932;stroke-width:0;stroke-linejoin:round;paint-order:stroke fill markers"
                id="path163"
                cx="16.92996"
                cy="28.295349"
                r="21.856913" />
                <circle
                r="21.856913"
                cy="28.28203"
                cx="-4.2896132"
                id="path163-2"
                style="display:inline;opacity:0.5;fill:#000000;fill-opacity:0.999932;stroke-width:0;stroke-linejoin:round;paint-order:stroke fill markers" />
            </g>
            <g
                inkscape:label="Layer 1"
                inkscape:groupmode="layer"
                id="layer1"
                style="display:inline">
                <path
                id="rect25"
                style="fill:#0086d6;fill-opacity:1;stroke-width:0;stroke-linejoin:round;paint-order:stroke fill markers"
                d="m 5.8208333,9.8600921 c 0.9062652,1.1066539 0,2.8399079 0,2.8399079 v 0 L -1e-7,7.9160482 c 0,0 4.9145682,0.8373896 5.8208334,1.9440439 z"
                sodipodi:nodetypes="zcccz" />
                <path
                id="path58"
                style="fill:#0086d6;fill-opacity:1;stroke-width:0;stroke-linejoin:round;paint-order:stroke fill markers"
                inkscape:transform-center-y="-0.50489238"
                d="m 12.700013,6.3662225 c 0,0 -1.122143,0.5836967 -2.383192,0.9642234 C 8.9807623,7.733607 7.4666575,7.9139794 6.3449172,7.9165058 5.2788476,7.9189068 3.8081863,7.7637326 2.5097867,7.3862159 1.155416,6.9924253 -4.6270721e-6,6.3965452 -4.6270721e-6,6.3965452 L 6.35,0 c 2.1215766,1.9402792 4.228437,4.4259423 6.350013,6.3662225 z"
                sodipodi:nodetypes="csssccc" />
                <path
                sodipodi:nodetypes="zcccz"
                d="M 6.8791671,9.8528814 C 7.7854322,8.7538592 12.7,7.9222446 12.7,7.9222446 v 0 L 6.8791671,12.673204 c 0,0 -0.9062651,-1.721301 0,-2.8203226 z"
                style="fill:#0086d6;fill-opacity:1;stroke-width:0;stroke-linejoin:round;paint-order:stroke fill markers"
                id="rect25-7" />
            </g>
            </svg>
            Bepity
        </h1>
    
        <form action="/users/" method="get">
            <input type="search" name="search" id="search-bar">
        </form> 
    </article>  
    <script src="https://kit.fontawesome.com/ad2feffdfb.js" crossorigin="anonymous"></script>

</body>
</html>