@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

svg {
  width: 110px;
  height: auto;
}

#homepage {
  font-family: "Exo 2", sans-serif;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background: rgb(240, 240, 240);
}

#home_backround {
  background-position: center;
  background-size: cover;
  z-index: -100;
  position: absolute;
  filter: brightness(0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
    Aside menu
*/

#flexwrap {
  display: flex;
  position: fixed;
  background: transparent;
  width: 56px;
  height: 100vh;
  align-items: flex-start;
  transition: 0.4s;
  padding-left: 7px;
  flex-direction: row;
  justify-content: center;
}
#flexwrap:hover {
  align-items: flex-start;
  width: 140px;
  transition: 0.4s ease-in-out;
  padding-left: 84px;
}

#textwrap,
#iconwrap {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -48px;
}

#textwrap {
  align-items: left;
}

#menu5,
#text5 {
  position: fixed;
  bottom: 10px;
}

menu {
  margin: 10px;
  transition: 0.5s;
  font-size: 20px;
  color: rgb(0, 134, 214);
}

span {
  margin: 10px;
  transition: 0.5s;
  font-size: 20px;
  color: black;
}

span:hover {
  cursor: pointer;
  color: rgb(70, 70, 70);
  transition: 0.5s;
}

#flexwrap span,
menu {
  padding-top: 40px;
}

/* 
    Home-page + Searchbar
*/

#home-page {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: 10em;
  color: black;
}

#title:hover {
  cursor: default;
}

#search-bar {
  margin-top: 50%;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  text-align: left;
  padding-left: 20px;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

/* ------------------ */

#profile_backround {
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -100;
}

#profile {
  font-family: "Exo 2", sans-serif;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background: rgba(240, 240, 240, 1);
  color: black;
}

#textwrap span a {
  text-decoration: none;
  color: black;
}

#textwrap span a:hover {
  color: white;
}

.profile_wrapper {
  display: grid;
  grid-template-columns: 150px 200px 200px 1fr 1fr;
  grid-template-rows: 150px 200px 600px;
  grid-template-areas:
    "pr na na rp rp"
    "ra ra up rp rp"
    "ma ma ma ma ma";
  width: 90vw;
  height: 100%;
  position: relative;
  z-index: 100;
  color: black;
  left: 6%;
}

#profile_pic {
  grid-area: pr;
  background: rgba(39, 39, 49, 0.8);
  margin: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile_pic img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#name {
  grid-area: na;
  background: white;
  margin: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

#name h2 {
  font-weight: 400;
}

#name h2 p {
  font-size: 0.7em;
  text-align: center;
}

#uppdate {
  grid-area: up;
  background: white;
  margin: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#uppdate button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background: #06c;
  color: white;
  border: none;
  box-shadow: 2px 2px 5px 0px black;
  transition: 0.2s;
}

#uppdate button:hover {
  box-shadow: 1px 1px 2px 0px black;
}

#uppdate p {
  text-align: center;
  margin-top: 10px;
}

#recent {
  grid-area: rp;
  background: white;
  margin: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.recent_champs {
  background: #f5f5f7;
  height: 80px;
  width: 40%;
  border-radius: 5px;
}

#rank {
  grid-area: ra;
  background: white;
  margin: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

#rank img {
  width: auto;
  height: 90px;
  padding-right: 10px;
}

#rank h3 {
  font-size: 0.5;
  text-align: center;
  font-weight: 400;
}

#match_history {
  grid-area: ma;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: white;
  margin: 30px;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
  justify-content: space-evenly;
}

.match {
  width: 48%;
  height: 120px;
  border-radius: 5px;
  background: #f5f5f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.match img {
  width: auto;
  height: 70%;
  object-fit: cover;
  border-radius: 5px;
}

.summoner_spells {
  object-fit: cover;
  display: flex;
  flex-direction: column;
}

.summoner_spells img {
  height: 40px;
  width: auto;
  margin: 5px;
}

.match_info {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5em;
}

.match_stats {
  text-align: center;
}

.recent_champs p {
  text-align: center;
}

.recent_champs img {
  width: auto;
  height: 80%;
  object-fit: cover;
  border-radius: 5px;
}

.recent_champs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}